
$blue:#2A91DE;
$red:#CC5959;
$gray:#9C9C9C;
$light-gray:#00000029;
$dark-gray:#66686E;
$lavender: #B168C4;
$yellow:#F8C62D;
$bright-blue:#0E4CFB;
$green: #6DD197;
$black:#090233;
$dark-green: #37B188;
$dark-blue:#4771CB;
$background-color:#FAFAFA ;
$background-color-darker:#F7F7F7;
$light-blue:#54C9E8;
$lighter-gray:#E7EBEE;
$bright-green:#39C9AE;
$bright-red:#C83935;
$bright-yellow:#F3BB4E;

$regular:400;
$medium:500;
$light:300;
$semi-bold:600;
$bold:700;

.fw-300{ font-weight: 300; }
.fw-400{ font-weight: 400; }
.fw-500{ font-weight: 500; }
.fw-600{ font-weight: 600; }
.fw-700{ font-weight: 700; }
.fw-800{ font-weight: 800; }

.fs-11{ font-size: 12px !important; }
.fs-12{ font-size: 12px !important; }
.fs-13{ font-size: 13px !important; }
.fs-14{ font-size: 14px !important; }
.fs-15{ font-size: 15px !important; }
.fs-16{ font-size: 16px !important; }
.fs-18{ font-size: 18px !important; }
.fs-28{ font-size: 28px !important; }

.blue-small-text{
    margin: 0;
    color: $blue;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    a{
      margin: 0;
    color: $blue;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    }
  }
  .gray-small-text{
    margin: 0;
    color: $gray;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    a{
      margin: 0;
      color: $gray;
      font-size: 12px;
      font-weight: 600;
      text-decoration: none;
    }
  }
  .black-small-text{
    margin: 0;
    font-size: 12px;
    color: $black;
    font-weight: 600;
    text-decoration: none;
    a,span{
      color: $black;
      margin: 0;
      font-size: 12px;
      font-weight: 600;
      text-decoration: none;
    }
  }
  

.file-name{
    font-size: 0.9rem;
    font-weight: 800;
}
.file-size{ font-size: 0.8rem; color: $gray; align-self: normal; }
.scrollable{
  overflow: hidden;
  overflow-y:scroll;
}
.scrollable::-webkit-scrollbar{ display: none; }
.scrollable{
  -ms-text-overflow: none;
  text-overflow: none;
  scrollbar-width: none;
}